# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.png
cbt-tunnels-mac
*.log
*.DS_Store
/ArchivedReport/
target/
build/
*.iml
.gradle